<!DOCTYPE html>
<html dir="ltr" lang='en'>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- build:process -->
    <title>[
        <%= mode %>] PAGE TITLE</title>
    <!-- /build -->
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../fonts/open-sans/open-sans.css">
    <link rel="stylesheet" href="../../font-awesome/css/font-awesome.min.css">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:style all -->
    <!-- /build -->
    <link type="text/css" rel="stylesheet" href="../../css/flags.css">
</head>

<body>
    <!--[if lt IE 11]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->