<!-- build:section recursive layout.commonheader -->
<!-- /build -->

<!-- build:section recursive section.header -->
<!-- /build -->

<!-- build:process -->
<main>

  <section class='Box'>
    <!-- build:section recursive section.box-header --><!--/build -->

    <div class='Box_main'>

      <!-- Login service logo -->
      <div class='Box_Section Box_Section-Icon'>
        <img src='../../images/BankID-mobil.png' alt='BankID på mobil logo' />
      </div>
      <!-- /Login service logo  -->

      <!-- Notification -->
      <div class='notification notification-error with-Icon icon-error'>
        Innlogging med BankID på mobilen kan ikke gjennomføres.
        Er du sikker på at du har BankID på mobil?
        Klikk eventuelt "Prøv på nytt" og velg "BankID".
        <br>
        Feilkode C161
      </div>
      <!-- /Notification -->

      <!-- Form -->
      <form action='#'>

        <!-- build:section recursive section.form-controls-action_button_only-retry --><!--/build -->

      </form>
      <!-- /Form -->

    </div>


    <!-- build:section recursive section.box-footer_no-link --><!--/build -->
  </section>
</main>
<!-- /build -->

<!-- build:section section.footer -->
<!-- /build -->
<!-- build:section recursive layout.commonfooter -->
<!-- /build -->
