<!-- build:section recursive layout.commonheader-no-mobile-menu -->
<!-- /build -->

<!-- build:section recursive section.header -->
<!-- /build -->

<!-- build:process -->
<main>
  <!-- build:section recursive section.dmy --><!-- /build -->
  <section class='Box'>
    <!-- build:section recursive section.box-header-top --><!--/build -->
    <!-- build:section recursive section.box-header_bankid --><!--/build -->

    <div class='Box_main'>

      <iframe width='100%' height='350px' src='_iframe-BankID.html'></iframe>

    </div>


    <!-- build:section recursive section.box-footer_bankid --><!--/build -->
  </section>
  <!-- NOTE: provider is added twice: above box title and below box (this one).
  The one above title is displayed on desktop only. the one below on mobile only. -->
  <div class='mi-Provider'><img src='../../images/nav-logo.gif' alt='Nav logo' /></div>
</main>
<!-- /build -->

<!-- build:section section.footer -->
<!-- /build -->
<!-- build:section recursive layout.commonfooter -->
<!-- /build -->
