<!-- build:section recursive layout.commonheader -->
<!-- /build -->

<!-- build:section recursive section.header-eid -->
<!-- /build -->

<!-- build:process -->
<main>
  <!-- build:section recursive section.dmy --><!-- /build -->
  <section class='Box'>
    <!-- build:section recursive section.box-header_foreign-user --><!--/build -->

    <form class='fm-Form'>
    <div class='Box_main'>
        <div class='fm-Fields'>
          <div class='ingress with-Link'>This foreign service gives grant access to some of your personal information. Detailed list of information to be shared you can find <a href='Bruker-2.html'>here</a></div>
        </div>
    </div>

    <!-- build:section recursive section.box-footer_pincode-letter --><!--/build -->
  </form>
  </section>
</main>
<!-- /build -->

<!-- build:section section.footer -->
<!-- /build -->
<!-- build:section recursive layout.commonfooter -->
<!-- /build -->
