<!-- build:section recursive layout.commonheader-no-mobile-menu-popup -->
<!-- /build -->

<!-- build:section recursive section.header -->
<!-- /build -->

<!-- build:process -->
<main>
  <!-- build:section recursive section.dmy --><!-- /build -->
  <section class='Box'>
    <!-- build:section recursive section.box-header_your-data --><!--/build -->

    <div class='Box_main'>
      <!-- Form -->
      <form action='#'>

        <div class='fm-Fields'>
          <table>
            <tr>
              <td>Fødselsnummer</td>
              <td>05050430233</td>
            </tr>
            <tr>
              <td>Navn</td>
              <td>Kari Normann</td>
            </tr>
            <tr>
              <td>Navnehistorikk</td>
              <td>Kari Elisabeth Hansen</td>
            </tr>
            <tr>
              <td>Fødselsdato</td>
              <td>05.05.2004</td>
            </tr>
            <tr>
              <td>Fødested</td>
              <td>Trondheim</td>
            </tr>
            <tr>
              <td>Sivilstand</td>
              <td>Gift</td>
            </tr>
            <tr>
              <td>Besøksadresse</td>
              <td>Vaskegata 3 1243 Oslo</td>
            </tr>
            <tr>
              <td>Postadresse</td>
              <td>Utroliglangtnavnefaret 3, 1243 Longyearbyen</td>
            </tr>
            <tr>
              <td>Kjønn</td>
              <td>Kvinne</td>
            </tr>
            <tr>
              <td>Nasjonalitet</td>
              <td>Norsk</td>
            </tr>
          </table>
        </div>

        <!-- build:section recursive section.form-controls-normal_button_only --><!--/build -->

      </form>
    </div>

  </section>

</main>
<!-- /build -->

<!-- build:section section.footer -->
<!-- /build -->
<!-- build:section recursive layout.commonfooter -->
<!-- /build -->
