<!-- build:section recursive layout.commonheader -->
<!-- /build -->
<!-- build:section recursive section.header-eid -->
<!-- /build -->
<!-- build:process -->
<main>
    <!-- build:section recursive section.dmy -->
    <!-- /build -->
    <section class='Box'>
        <!-- build:section recursive section.box-header-top -->
        <!--/build -->
        <!-- build:section recursive section.box-header -->
        <!--/build -->
        <div class='Box_main'>
            <!-- build:section recursive section.list-normal -->
            <!--/build -->
        </div>
        <div class='Box_main Box_inside-footer'>
            <!-- build:section recursive section.list-normal_low-priority -->
            <!--/build -->
        </div>
        <!-- build:section recursive section.box-footer -->
        <!--/build -->
    </section>
    <!-- NOTE: provider is added twice: above box title and below box (this one).
  The one above title is displayed on desktop only. the one below on mobile only. -->
    <div class='mi-Provider'><img src='../img/difiLogo.png' alt='Nav logo' /></div>
</main>
<!-- /build -->
<!-- build:section section.footer -->
<!-- /build -->
<!-- build:section recursive layout.commonfooter -->
<!-- /build -->