<!-- build:section recursive layout.commonheader -->
<!-- /build -->

<!-- build:section recursive section.header -->
<!-- /build -->

<!-- build:process -->
<main>
  <div>

    <section class='Box'>
      <div class='driftsmelding'><span class='title'>TYPOGRAPHY</span></div>
      <div class='Box_main'>
        <div class='Box_Section'>
          <p>
            Din registrerte kontaktinformasjon kan benyttes til saksbehandling i
            offentlig sektor. Når vedtak eller andre viktige brev sendes deg
            digitalt, får du varsel på SMS eller e-post om hvor du skal logge
            inn for å lese brevet.
          </p>
          <p class="with-Link">Les mer om<a href=""><span>kommunikasjon på nett med det offentlige</span></a></p>
        </div>
      </div>

      <div class='driftsmelding'><span class='title'>BUTTONS AND LINKS</span></div>
      <div class='Box_main'>
        <form>
          <!-- build:section recursive section.form-controls-two_buttons --><!--/build -->
          <div class='fm-Fields'>
            <div class='fm-form_link with-Link'>
              <a href='#'><span>Glemt passord?</span></a>
            </div>
          </div>
        </form>
      </div>

      <div class='driftsmelding'><span class='title'>INPUT FIELDS</span></div>
      <div class='Box_main'>
        <form>
          <div class='fm-Fields'>
            <!-- build:section recursive section.form-field_personal-id --><!--/build -->

            <div class='fm-Field'>
              <label for='password'>Passord</label>
              <input id='password' type='password' placeholder='******' />
            </div>
            <span class='fm-Message'>Vennligst skriv inn passordet ditt</span>

            <!-- build:section recursive section.form-field_birthdate --><!--/build -->

            <br />

            <div class='cs-InputContainer'>

              <div class="cs-Input fm-Field" id="js-country">
                <div class='cs-Input_Placeholder'>
                  <label for="country" class="visuallyHidden">Enter or select country</label>
                  <input type="text" id="country" placeholder="Enter country name" autocomplete="off" aria-haspopup="true" aria-expanded="false">
                  <button class="cs-Button fa fa-angle-down" id="js-trigger" aria-haspopup="true" aria-expanded="false"></button>
                </div>
                <input type="hidden" name="countrycode" value="" />
              </div>
              <span class="fm-Message">Please select a country from the list</span>
              <ul role="listbox" class="cs-List" id="js-country-list">
                <li role="option"><a data-id="at" href="">Austria</a></li>
                <li role="option"><a data-id="cz" href="">Czech Republic</a></li>
                <li role="option"><a data-id="dk" href="">Denmark</a></li>
                <li role="option"><a data-id="ee" href="">Estonia</a></li>
                <li role="option"><a data-id="fr" href="">France</a></li>
                <li role="option"><a data-id="de" href="">Germany</a></li>
                <li role="option"><a data-id="gr" href="">Greece</a></li>
                <li role="option"><a data-id="ie" href="">Ireland</a></li>
                <li role="option"><a data-id="it" href="">Italy</a></li>
                <li role="option"><a data-id="lu" href="">Luxembourg</a></li>
                <li role="option"><a data-id="nl" href="">Netherlands</a></li>
                <li role="option"><a data-id="pl" href="">Poland</a></li>
                <li role="option"><a data-id="pt" href="">Portugal</a></li>
                <li role="option"><a data-id="ro" href="">Romania</a></li>
                <li role="option"><a data-id="sk" href="">Slovakia</a></li>
                <li role="option"><a data-id="si" href="">Slovenia</a></li>
                <li role="option"><a data-id="es" href="">Spain</a></li>
                <li role="option"><a data-id="se" href="">Sweden</a></li>
                <li role="option"><a data-id="tr" href="">Turkey</a></li>
              </ul>
            </div>

          </div>
        </form>
      </div>

      <div class='driftsmelding'><span class='title'>FIELDS WITH EDIT POSSIBILITY</span></div>
      <div class='Box_main'>
        <form>
          <div class='fm-Fields'>
            <!-- build:section recursive section.form-field_mobile-with_edit --><!--/build -->
            <!-- build:section recursive section.form-field_birthdate-with_edit --><!--/build -->
          </div>
        </form>
      </div>

      <div class='driftsmelding'><span class='title'>NOTIFICATIONS</span></div>
      <div class='notification with-Icon'>
        The password must comprise at least 8 characters, including digits and letters.
        Valid characters are lower case and capital case letters from A to Z, digits and special characters.
      </div>
      <div class='notification with-Icon icon-pin'>
        Use PIN-codes from letter dated 30.09.2016
      </div>
      <div class='notification with-Icon with-Link icon-sms'>
        You will now receive a single-use code by SMS form Difi. Don´t have your mobile phone with you?
        <br>
        <a href=''><span>Use code from the PIN-code letter</span></a>
      </div>
      <div class='notification with-Icon with-Link icon-email'>
        You will now receive a one-time code at your registered email address.
        If you do not receive the email, please see if it may have ended up in the spam filter.
        <br>
        Unable to access your email-account?
        <br>
        <a href=''><span>Use code from the PIN-code letter</span></a>
      </div>
      <div class='notification notification-error with-Icon icon-error'>
        This is an error notification
      </div>

      <div class='driftsmelding'><span class='title'>STEP INDICATOR</span></div>
      <div class='Box_main'>
        <!-- Progress dots -->
        <div class='fm-Progress_Container'>
          <div class='fm-Progress_Dot'></div>
          <div class='fm-Progress_Dot active'></div>
        </div>
      </div>

      <div class='driftsmelding'><span class='title'>TITLE BARS</span></div>
      <!-- build:section recursive section.box-header --><!--/build -->
      <!-- build:section recursive section.box-header_glemt-passord --><!--/build -->
      <!-- build:section recursive section.box-header_with-menu --><!--/build -->
      <!-- build:section recursive section.box-header_bankid-mobil --><!--/build -->


      <div class='driftsmelding'><span class='title'>SELECTOR</span></div>
      <div class='Box_main'>
        <!-- build:section recursive section.list-normal --><!--/build -->
      </div>
      <div class='Box_main Box_inside-footer'>
        <!-- build:section recursive section.list-normal_low-priority --><!--/build -->
      </div>

      <div class='driftsmelding'><span class='title'>ELECTRONIC MAIL BOX</span></div>
      <div class='Box_main'>
        <div class="fm-Fields">
          <!-- build:section recursive section.form-button_digital_postbox-with_edit --><!--/build -->

          <div class='fm-Field'>
            <div class='label'>Din aktive postkasse</div>
            <ul class="ln-List ln-List_Digitalpost">
              <li>
                <div class="ln-List_Element with-logo" href="#">
                  <span class="ln-List_Element_Logo">
                    <img src="../../images/digipost-logo.jpg" alt="">
                  </span>
                  <div class="ln-List_Element_Service">
                    <span class="ln-List_Element_Service_Info">Du mottar i dag post fra det offentlige til din postkasse hos Digipost</span>
                  </div>
                </div>
              </li>
            </ul>
          </div>

          <div class='fm-Field'>

            <div class='label'>Endre til</div>
            <ul class="ln-List ln-List-simple">
              <li>
                <a href="" class="ln-List_Element">
                  <span class="ln-List_Element_Logo">
                    <img src='../../images/eboks-logo.jpg' alt='' />
                  </span>
                  <div class="ln-List_Element_Service">
                    <span class="ln-List_Element_Service_Info">Du må opprette en postkasse hos e-Boks før du kan endre til denne</span>
                  </div>
                  <span class="fa fa-angle-right fa-lg"></span>
                </a>
              </li>
            </ul>
          </div>

          <div class='label'>Velg digital postkasse</div>
          <div class='fm-RadioButtons with-Logo'>
            <input id='digipost' type='radio' name="provider" checked='checked' value="digipost"/>
            <label for='digipost'>
              <span class='logo'>
                <img src='../../images/digipost-logo.jpg' alt='' />
              </span>
              <span>
                Velg din postkasse hos Digipost
              </span>
            </label>

            <input id='eboks' type='radio' name="provider" checked='checked' value="eboks"/>
            <label for='eboks'>
              <span class='logo'>
                <img src='../../images/eboks-logo.jpg' alt='' />
              </span>
              <span>
                Velg din postkasse hos e-Boks
              </span>
            </label>
          </div>

        </div>
      </div>

      <div class='driftsmelding'><span class='title'>ACCORDION</span></div>

      <ul class='la-List'>
        <li>
          <div role='heading'>
            <!-- NOTE: Add class js-initially-open if panel should open when page opens -->
            <a role='button' aria-expanded="false" aria-controls="content-1" id="alternative-1" href='' class='la-List_Element'>Panel 1<span class='fa fa-angle-down'></span></a>
          </div>

          <div role="region" aria-labelledby="alternative-1" id="content-1" class="la-List_Region">
            <div class='Box_Section'>
              <p>Content of Accordion panel 1</p>
            </div>
          </div>

        </li>
        <li>
          <div role='heading'>
            <a role='button' aria-expanded="false" aria-controls="content-2" id="alternative-2" href='' class='la-List_Element'>Panel 2<span class='fa fa-angle-down'></span></a>
          </div>
          <div role="region" aria-labelledby="alternative-2" id="content-2" class="la-List_Region">
            <div class='Box_Section'>
              <p>Content of Accordion panel 2</p>
            </div>
          </div>
        </li>

      </ul>

      <div class='driftsmelding'><span class='title'>TABS</span></div>
      <div class='tb-Container'>
        <!-- Tab header -->
        <!-- class .tab-2 defines two tabs and is default. There are available classes .tab-3, .tab-4 too -->
        <div class='tb-Header tab-2'>
          <a href='#' class='active' data-target='tab-1'><span><span>Tab-1</span></span></a>
          <a href='#' data-target='tab-2'><span><span>Tab-2</span></span></a>
        </div>
        <!-- //Tab header -->

        <!-- Tabs container -->
        <div class='tb-Body'>
          <!-- Tab 1 -->
          <div class='tb-Tab active' data-id='tab-1'>
            <div class="Box_Section">
              <p>Content of tab 1</p>
            </div>
          </div>
          <!-- /Tab 1 -->

          <!-- Tab 2 -->
          <div class='tb-Tab' data-id='tab-2'>
            <div class="Box_Section">
              <p>Content of tab 1</p>
            </div>
          </div>
            <!-- // Tab 2 -->
        </div>

      <div class='driftsmelding'><span class='title'>OPERATIONS ALERT</span></div>
      <!-- build:section recursive section.driftsmelding --><!--/build -->
      <br />
      <br />

      <div class='driftsmelding'><span class='title'>404</span></div>
      <div class='Box_Section'>
        <p class="with-Link"><a href="Statisk-HTML-404.html"><span>Eksempel</span></a></p>
      </div>

      <div class='driftsmelding'><span class='title'>WARNING</span></div>
      <div class='Box_Section'>
        <p class="with-Link"><a href="Statisk-HTML-1-advarsel.html"><span>Eksempel</span></a></p>
      </div>

      <div class='driftsmelding'><span class='title'>POPUP</span></div>
      <div class='Box_Section'>
        <p class="with-Link"><a href="MinProfil-kontaktdetaljer-2AA.html"><span>Eksempel 1</span></a></p>
        <p class="with-Link"><a href="Bruker-fra-utlandet-2.html"><span>Eksempel 2</span></a></p>
      </div>

      <div class='driftsmelding'><span class='title'>RECEIPT</span></div>
      <div class='Box_Section'>
        <p class="with-Link"><a href="MinID-Ny-bruker-7A.html"><span>Eksempel</span></a></p>
      </div>

      <div class='driftsmelding'><span class='title'>HELP LINK</span></div>
      <div class="Box_footer">
        <div class='Box_footer-links'></div>
        <!-- build:section recursive section.box-footer_help-icon --><!--/build -->
      </div>

    </section>

  </div>
</main>
<!-- /build -->

<!-- build:section section.footer -->
<!-- /build -->
<!-- build:section recursive layout.commonfooter -->
<!-- /build -->
