<!-- build:section recursive layout.commonheader -->
<!-- /build -->

<!-- build:section recursive section.header -->
<!-- /build -->

<!-- build:process -->
<main>
  <!-- build:section recursive section.dmy --><!-- /build -->
  <section class='Box'>
    <!-- build:section recursive section.box-header-kontaktinfomodul --><!--/build -->

    <div class='Box_main'>

      <div class='notification'>
        Registrering av kontaktinformasjon lar deg holde informasjon brukt av offentlige tjenester oppdatert på et sted.
      </div>

      <!-- Form -->
      <form action='#'>
        <fieldset>
        <div class='fm-Fields'>

          <div class='notification'>
            Registrering av kontaktinformasjon lar deg holde informasjon brukt av offentlige tjenester oppdatert på et sted.
          </div>

          <div class='fm-Field'>
            <span class='label'>Mobile phone number</span>
            <div class='with-icon'>
              <span class='text'>93077225</span>
              <a href='#'>
                <span class='visuallyHidden'>Klikk her for å endre ditt telefonnummer</span>
                <span class='fa fa-pencil'></span>
              </a>
            </div>
          </div>
          <span class='fm-Message'>Please fill in your mobile number</span>

          <!-- When label gets class .error then input and span.message change their look and present the error message -->
          <div class='fm-Field'>
            <span class='label'>Date of birth</span>
            <div class='with-icon'>
              <span class='text'>1975-12-23</span>
              <a href='#'>
                <span class='visuallyHidden'>Klikk her for å endre din fødselsdato</span>
                <span class='fa fa-pencil'></span>
              </a>
            </div>
          </div>

        </div>

        <!-- build:section recursive section.form-controls-action_button_only-confirm_and_proceed --><!--/build -->
      </fieldset>
      </form>
      <!-- //Form -->
    </div>

    <!-- build:section recursive section.box-footer --><!--/build -->

  </section>
</main>
<!-- /build -->

<!-- build:section section.footer -->
<!-- /build -->
<!-- build:section recursive layout.commonfooter -->
<!-- /build -->
