<!-- build:section recursive layout.commonheader -->
<!-- /build -->

<!-- build:section recursive section.header -->
<!-- /build -->

<!-- build:process -->
<main>
  <!-- build:section recursive section.dmy --><!-- /build -->
  <section class='Box'>
    <!-- build:section recursive section.box-header-kontaktinfomodul --><!--/build -->

    <div class='Box_main'>

      <!-- build:section recursive section.form-progress_dots-2_1 --><!--/build-->

      <!-- Form -->
      <!-- Add class .disabled to disable this section -->
      <form action='#'>
        <fieldset>
          <div class='fm-Fields'>
            <!-- build:section recursive section.form-field_mobile-with_edit --><!--/build -->
            <!-- build:section recursive section.form-field_birthdate-with_edit --><!--/build -->
          </div>
          <!-- build:section recursive section.form-controls-action_button_only-confirm_and_proceed --><!--/build -->

        </fieldset>
      </form>
      <!-- //Form -->

      <hr />

      <!-- Form -->
      <!-- Add class .disabled to disable this section -->
      <form class='disabled' action='#'>
        <fieldset>
          <div class='fm-Fields'>
            <!-- When fm-Field gets class .error then input and span.message change their look and present the error message -->
            <div class='fm-Field'>
              <span class='label'>Din digitale postkasse</span>
              <legend class='with-Link'>
                Med digital postkasse kan du enkelt motta og oppbevare viktig post fra det offentlige digitalt. Dette er informasjon som ikke kan sendes på e-post. <a href='#'><span>Les mer om digital postkasse</span></a>
              </legend>

            </div>
          </div>
          <!-- build:section recursive section.form-controls-two_buttons-digital_postbox --><!--/build -->
        </fieldset>
      </form>
      <!-- //Form -->
    </div>

    <!-- build:section recursive section.box-footer --><!--/build -->

  </section>
</main>
<!-- /build -->

<!-- build:section section.footer -->
<!-- /build -->
<!-- build:section recursive layout.commonfooter -->
<!-- /build -->
