<!-- build:section recursive layout.commonheader -->
<!-- /build -->
<!-- build:section recursive section.header -->
<!-- /build -->
<!-- build:process -->
<main>
    <!-- build:section recursive section.dmy -->
    <!-- /build -->
    <section class='Box'>
        <!-- build:section recursive section.box-header-top -->
        <!--/build -->
        <!-- build:section recursive section.box-header-kontaktinfomodul-mangler-epost -->
        <!--/build -->
        <div class='Box_main'>
            <div class='notification with-Icon'>
                Du har ikke registrert e-postadresse. E-postadressen blir brukt som varslingsadresse når stat eller kommune skal varsle deg om at de har sendt deg viktige brev og vedtak på nett. Bruker du MinID til å logge deg på offentlige tjenester på nett, kan e-posten også brukes til å sende deg engangskoder på e-post.
            </div>
            <!-- Form -->
            <form action='#'>
                <fieldset>
                    <div class='fm-Fields'>
                        <!-- build:section recursive section.form-field_email-new-user -->
                        <!--/build -->
                    </div>
                    <!-- build:section recursive section.form-controls-two_buttons-hopp-over -->
                    <!--/build -->
                </fieldset>
            </form>
            <!-- //Form -->
        </div>
        <!-- build:section recursive section.box-footer -->
        <!--/build -->
    </section>
    <!-- NOTE: provider is added twice: above box title and below box (this one).
  The one above title is displayed on desktop only. the one below on mobile only. -->
    <div class='mi-Provider'><img src='../../images/nav-logo.gif' alt='Nav logo' /></div>
</main>
<!-- /build -->
<!-- build:section section.footer -->
<!-- /build -->
<!-- build:section recursive layout.commonfooter -->
<!-- /build -->