<!-- build:section recursive layout.commonheader -->
<!-- /build -->

<!-- build:section recursive section.header -->
<!-- /build -->

<!-- build:process -->
<main>

  <!-- NOTE: this is now identical to kontaktinfomodul-1F-B.html -->

  <!-- build:section recursive section.dmy --><!-- /build -->
  <section class='Box'>
    <!-- build:section recursive section.box-header-top --><!--/build -->
    <!-- build:section recursive section.box-header-kontaktinfomodul --><!--/build -->

    <div class='Box_main'>

      <!-- build:section recursive section.form-progress_dots-2_1 --><!--/build-->

      <!-- Form -->
      <!-- Add class .disabled to disable this section -->
      <form>
        <fieldset>
          <div class='fm-Fields'>
            <!-- build:section recursive section.form-field_mobile-with_edit --><!--/build -->
            <!-- build:section recursive section.form-field_birthdate-with_edit --><!--/build -->
          </div>
          <!-- Controls placeholder with action button only -->
          <!-- NOTE: class 'js-toggleForm' added. Used by JavaScript to enable next when button clicked -->
          <div class='fm-Controls with-Action'>
            <button class='btn btn-Action js-toggleForm'><span>Bekreft og gå videre</span></button>
          </div>
          <!-- //Controls placeholder with action button only -->

        </fieldset>
      </form>
      <!-- //Form -->

      <hr />

      <!-- Form -->
      <!-- Add class .disabled to disable this section -->
      <form class='disabled dpb-Custom'>
        <fieldset>
          <div class='fm-Fields'>
            <!-- When fm-Field gets class .error then input and span.message change their look and present the error message -->
            <div class='fm-Field'>
              <span class='label'>Din digitale postkasse</span>
              <legend class='with-Link'>
                Med digital postkasse kan du enkelt motta og oppbevare viktig post fra det offentlige digitalt. Dette er informasjon som ikke kan sendes på e-post. <a href='#'><span>Les mer om digital postkasse</span></a>
              </legend>

            </div>
          </div>
          <!-- build:section recursive section.form-controls-two_buttons-digital_postbox --><!--/build -->
        </fieldset>
      </form>
      <!-- //Form -->
    </div>

    <!-- build:section recursive section.box-footer --><!--/build -->

  </section>
  <!-- NOTE: provider is added twice: above box title and below box (this one).
  The one above title is displayed on desktop only. the one below on mobile only. -->
  <div class='mi-Provider'><img src='../../images/nav-logo.gif' alt='Nav logo' /></div>
</main>
<!-- /build -->

<!-- build:section section.footer -->
<!-- /build -->
<!-- build:section recursive layout.commonfooter -->
<!-- /build -->
