<!-- build:section recursive layout.commonheader -->
<!-- /build -->

<!-- build:section recursive section.header -->
<!-- /build -->

<!-- build:process -->
<main>
  <!-- build:section recursive section.dmy --><!-- /build -->
  <section class='Box'>
    <!-- build:section recursive section.box-header-kontaktinfomodul --><!--/build -->

    <div class='Box_main'>

      <!-- Form -->
      <form action='#'>
        <fieldset>
          <div class='fm-Fields'>
            <legend class='with-Link'>
              Registrering av kontaktinfo lar deg holde informasjonen brukt av offetlige tjenester oppdatert på et sted. <a href='#'><span>Les mer om kontaktregisteret</span></a>
            </legend>
            <!-- build:section recursive section.form-field_mobile-with_edit --><!--/build -->
            <!-- build:section recursive section.form-field_birthdate-with_edit --><!--/build -->
            <!-- build:section recursive section.form-field_digital_postbox-with_edit --><!--/build -->
          </div>

          <!-- build:section recursive section.form-controls-action_button_only-confirm_and_proceed --><!--/build -->
        </fieldset>
      </form>
      <!-- //Form -->
    </div>

    <!-- build:section recursive section.box-footer_no-link --><!--/build -->

  </section>
</main>
<!-- /build -->

<!-- build:section section.footer -->
<!-- /build -->
<!-- build:section recursive layout.commonfooter -->
<!-- /build -->
