<!-- build:section recursive layout.commonheader -->
<!-- /build -->

<!-- build:section recursive section.header -->
<!-- /build -->

<!-- build:process -->
<main>
  <!-- build:section recursive section.dmy --><!-- /build -->
  <section class='Box'>
    <!-- build:section recursive section.box-header-top --><!--/build -->
    <!-- build:section recursive section.box-header-kontaktinfomodul-mangler-telefonnummer --><!--/build -->

    <div class='Box_main'>

      <!-- Form -->
      <form action='#'>
        <fieldset>
          <div class='fm-Fields'>
            <div class='notification with-Icon'>
              Du har ikke registrert mobilnummer. Mobilnummeret blir brukt som varslingsadresse når stat eller kommune skal varsle deg om at de har sendt deg viktige brev og vedtak på nett. Bruker du MinID til å logge deg på offentlige tjenester på nett, kan mobilnummeret også brukes til å sende deg engangskoder på SMS.
            </div>

            <p class='normal'>
              Dersom du har et utenlandsk nummer, husk å oppgi landskode (eks. <strong>+47</strong> eller <strong>0046</strong> for Sverige)
            </p>

            <!-- build:section recursive section.form-field_mobile-missing --><!--/build -->
            <!-- build:section recursive section.form-field_email-with_edit --><!--/build -->
          </div>

          <!-- build:section recursive section.form-controls-action_button_only-confirm_and_proceed --><!--/build -->
        </fieldset>
      </form>
      <!-- //Form -->
    </div>

    <!-- build:section recursive section.box-footer --><!--/build -->

  </section>
  <!-- NOTE: provider is added twice: above box title and below box (this one).
  The one above title is displayed on desktop only. the one below on mobile only. -->
  <div class='mi-Provider'><img src='../../images/nav-logo.gif' alt='Nav logo' /></div>
</main>
<!-- /build -->

<!-- build:section section.footer -->
<!-- /build -->
<!-- build:section recursive layout.commonfooter -->
<!-- /build -->
