<!-- build:section recursive layout.commonheader -->
<!-- /build -->
<!-- build:section recursive section.header -->
<!-- /build -->
<!-- build:process -->
<main>
    <!-- build:section recursive section.dmy -->
    <!-- /build -->
    <section class='Box'>
        <!-- build:section recursive section.box-header-top -->
        <!--/build -->
        <!-- build:section recursive section.box-header-kontaktinfomodul -->
        <!--/build -->
        <div class='Box_main'>
            <div class='notification with-Icon'>
                Registrering av kontaktinformasjon lar deg holde informasjon brukt av offentlige tjenester oppdatert på et sted.
            </div>
            <!-- Form -->
            <form action='#'>
                <fieldset>
                    <div class='fm-Fields'>
                        <!-- build:section recursive section.form-field_mobile-with_edit -->
                        <!--/build -->
                        <!-- build:section recursive section.form-field_email-with_edit -->
                        <!--/build -->
                    </div>
                    <!-- build:section recursive section.form-controls-action_button_only-confirm_and_proceed -->
                    <!--/build -->
                </fieldset>
            </form>
            <!-- //Form -->
        </div>
        <!-- build:section recursive section.box-footer -->
        <!--/build -->
    </section>
    <!-- NOTE: provider is added twice: above box title and below box (this one).
  The one above title is displayed on desktop only. the one below on mobile only. -->
    <div class='mi-Provider'><img src='../img/difiLogo.png' alt='Nav logo' /></div>
</main>
<!-- /build -->
<!-- build:section section.footer -->
<!-- /build -->
<!-- build:section recursive layout.commonfooter -->
<!-- /build -->