<!-- build:section recursive layout.commonheader -->
<!-- /build -->
<!-- build:section recursive section.header-no-serviceprovider -->
<!-- /build -->
<!-- build:process -->
<main>
    <section class='Box'>
        <!-- build:section recursive section.box-header_order-pincodes -->
        <!--/build -->
        <div class='Box_main'>
            <!-- Progress dots -->
            <div class='fm-Progress_Container'>
                <div class='fm-Progress_Dot'></div>
                <div class='fm-Progress_Dot active'></div>
            </div>
            <!-- /Progress dots -->
            <!-- Receipt -->
            <div class='receipt warning with-Link'>
                <h2>Pin codes already sent</h2>
                <p>Pin codes for personal ID <strong>145478 65841</strong> have already been ordered.</p>
                <p>The PIN codes are sent to the address registrered in the National Population Register.</p>
                <p>If you have any questions about your Pin codes, please <a href='#'><span>contact user support.</span></a></p>
            </div>
            <!-- Receipt -->
        </div>
        <!-- build:section recursive section.box-footer_no-link -->
        <!--/build -->
    </section>
</main>
<!-- /build -->
<!-- build:section section.footer -->
<!-- /build -->
<!-- build:section recursive layout.commonfooter -->
<!-- /build -->