<!-- build:section recursive layout.commonheader -->
<!-- /build -->

<!-- build:section recursive section.header -->
<!-- /build -->

<!-- build:process -->
<main>

  <section class='Box'>
    <!-- build:section recursive section.box-header_glemt-passord --><!--/build -->

    <div class='Box_main'>
      <!-- Progress dots -->
      <div class='fm-Progress_Container'>
        <div class='fm-Progress_Dot'></div>
        <div class='fm-Progress_Dot'></div>
        <div class='fm-Progress_Dot active'></div>
        <div class='fm-Progress_Dot'></div>
        <div class='fm-Progress_Dot'></div>
      </div>
      <!-- /Progress dots -->

      <!-- Notification -->
      <div class='notification with-Icon with-Link'>
        The password must comprise at least 8 characters, including digits and letters.
        Valid characters are lower case and capital case letters from A to Z, digits and special characters.
      </div>
      <!-- /Notification -->

      <!-- Form -->
      <form action='#'>
        <div class='fm-Fields'>
          <!-- build:section recursive section.form-field_create-password --><!--/build -->
        </div>

        <!-- build:section recursive section.form-controls-two_buttons --><!--/build -->

      </form>
    </div>

    <!-- build:section recursive section.box-footer_no-link --><!--/build -->
  </section>
</main>
<!-- /build -->

<!-- build:section section.footer -->
<!-- /build -->
<!-- build:section recursive layout.commonfooter -->
<!-- /build -->
