<!-- build:section recursive layout.commonheader -->
<!-- /build -->

<!-- build:section recursive section.header-eid -->
<!-- /build -->

<!-- build:process -->
<main>

  <section class='Box'>
    <!-- build:section recursive section.box-header-top --><!--/build -->
    <!-- build:section recursive section.box-header_with-menu --><!--/build -->

    <div class='Box_main'>
      <!-- Progress dots -->
      <div class='fm-Progress_Container'>
        <div class='fm-Progress_Dot active'></div>
        <div class='fm-Progress_Dot'></div>
      </div>
      <!-- /Progress dots -->

      <!-- Form -->
      <form action='#'>
        <div class='fm-Fields'>
          <!-- build:section recursive section.form-field_personal-id --><!--/build -->
          <!-- build:section recursive section.form-field_password --><!--/build -->
        </div>

        <!-- build:section recursive section.form-controls-two_buttons --><!--/build -->

      </form>
    </div>

    <!-- build:section recursive section.box-footer_minid --><!--/build -->
  </section>
  <!-- NOTE: provider is added twice: above box title and below box (this one).
  The one above title is displayed on desktop only. the one below on mobile only. -->
  <div class='mi-Provider'><img src='../../images/nav-logo.gif' alt='Nav logo' /></div>
</main>
<!-- /build -->

<!-- build:section section.footer -->
<!-- /build -->
<!-- build:section recursive layout.commonfooter -->
<!-- /build -->
