<!-- build:section recursive layout.commonheader -->
<!-- /build -->

<!-- build:section recursive section.header-eid -->
<!-- /build -->

<!-- build:process -->
<main>
  <!-- build:section recursive section.dmy --><!-- /build -->
  <section class='Box'>
    <!-- build:section recursive section.box-header_new-user --><!--/build -->

    <div class='Box_main'>
      <!-- build:section recursive section.list-normal-simple --><!--/build -->

      <!-- build:section recursive section.form-controls-normal_button_only --><!--/build -->
    </div>

    <!-- build:section recursive section.box-footer_pincode-letter --><!--/build -->
  </section>
</main>
<!-- /build -->

<!-- build:section section.footer -->
<!-- /build -->
<!-- build:section recursive layout.commonfooter -->
<!-- /build -->
