<!-- build:section recursive layout.commonheader -->
<!-- /build -->

<!-- build:section recursive section.header-no-serviceprovider-no-backlink -->
<!-- /build -->

<!-- build:process -->
<main>

  <section class='Box'>
    <!-- build:section recursive section.box-header_order-pincodes --><!--/build -->

    <div class='Box_main'>
      <!-- Progress dots -->
      <div class='fm-Progress_Container'>
        <div class='fm-Progress_Dot active'></div>
        <div class='fm-Progress_Dot'></div>
      </div>
      <!-- /Progress dots -->

      <!-- Notification -->
      <div class='notification with-Icon with-Link'>
        If you have used MinID before, you can log in via <a href=''><span>Forgotten password.</span></a>
        You can also log in to public services with BankID, BankID on Mobile, Buypass or Commfides.
      </div>
      <!-- /Notification -->

      <!-- Form -->
      <form action='#'>
        <div class='fm-Fields'>
          <!-- build:section recursive section.form-field_personal-id --><!--/build -->
        </div>

        <!-- build:section recursive section.form-controls-two_buttons-order-pincodes --><!--/build -->

      </form>
    </div>

    <!-- build:section recursive section.box-footer_no-link --><!--/build -->
  </section>

</main>
<!-- /build -->

<!-- build:section section.footer -->
<!-- /build -->
<!-- build:section recursive layout.commonfooter -->
<!-- /build -->
