<!-- build:section recursive layout.commonheader -->
<!-- /build -->
<!-- build:section recursive section.header -->
<!-- /build -->
<!-- build:process -->
<main>
    <section class='Box'>
        <!-- build:section recursive section.box-header-top -->
        <!--/build -->
        <!-- build:section recursive section.box-header_glemt-passord -->
        <!--/build -->
        <div class='Box_main'>
            <!-- Progress dots -->
            <div class='fm-Progress_Container'>
                <div class='fm-Progress_Dot'></div>
                <div class='fm-Progress_Dot'></div>
                <div class='fm-Progress_Dot'></div>
                <div class='fm-Progress_Dot'></div>
                <div class='fm-Progress_Dot'></div>
                <div class='fm-Progress_Dot active'></div>
            </div>
            <!-- /Progress dots -->
            <div class='receipt with-Link'>
                <h2>Gratulerer</h2>
                <p>Ny bruker er nå opprettet. Du kan endre dine kontaktdetaljer i <a href=''><span>Dine kontaktopplysninger</span></a></p>
            </div>
            <!-- build:section recursive section.form-controls-action_button_centered-login -->
            <!--/build -->
        </div>
        <!-- build:section recursive section.box-footer_no-link -->
        <!--/build -->
    </section>
    <!-- NOTE: provider is added twice: above box title and below box (this one).
  The one above title is displayed on desktop only. the one below on mobile only. -->
    <div class='mi-Provider'><img src='../../images/nav-logo.gif' alt='Nav logo' /></div>
</main>
<!-- /build -->
<!-- build:section section.footer -->
<!-- /build -->
<!-- build:section recursive layout.commonfooter -->
<!-- /build -->