<!-- build:section recursive layout.commonheader -->
<!-- /build -->
<!-- build:section recursive section.header -->
<!-- /build -->
<!-- build:process -->
<main>
    <section class='Box'>
        <!-- build:section recursive section.box-header-top -->
        <!--/build -->
        <!-- build:section recursive section.box-header_new-user -->
        <!--/build -->
        <div class='Box_main'>
            <!-- Progress dots -->
            <div class='fm-Progress_Container'>
                <div class='fm-Progress_Dot'></div>
                <div class='fm-Progress_Dot'></div>
                <div class='fm-Progress_Dot'></div>
                <div class='fm-Progress_Dot'></div>
                <div class='fm-Progress_Dot active'></div>
                <div class='fm-Progress_Dot'></div>
            </div>
            <!-- /Progress dots -->
            <!-- Notification -->
            <div class='notification with-Icon with-Link'>
                Har du utenlandsk nummer, må du oppgi landskode. Har du ikke mobil?
                <a href=''><span>Les om alternativ innlogging</span></a>
            </div>
            <!-- /Notification -->
            <!-- Form -->
            <form action='#'>
                <div class='fm-Fields'>
                    <!-- build:section recursive section.form-field_mobile-new-user -->
                    <!--/build -->
                </div>
                <!-- build:section recursive section.form-controls-two_buttons -->
                <!--/build -->
            </form>
        </div>
        <!-- build:section recursive section.box-footer_no-link -->
        <!--/build -->
    </section>
    <!-- NOTE: provider is added twice: above box title and below box (this one).
  The one above title is displayed on desktop only. the one below on mobile only. -->
    <div class='mi-Provider'><img src='../../images/nav-logo.gif' alt='Nav logo' /></div>
</main>
<!-- /build -->
<!-- build:section section.footer -->
<!-- /build -->
<!-- build:section recursive layout.commonfooter -->
<!-- /build -->