<!-- build:section recursive layout.commonheader-no-mobile-menu-popup -->
<!-- /build -->
<!-- build:section recursive section.header -->
<!-- /build -->
<!-- build:process -->
<main>
    <!-- build:section recursive section.dmy -->
    <!-- /build -->
    <section class='Box'>
        <!-- build:section recursive section.box-header_change-password -->
        <!--/build -->
        <div class='Box_main'>
            <!-- Form -->
            <form action='#'>
                <div class='fm-Fields'>
                    <!-- build:section recursive section.form-field_change-password -->
                    <!--/build -->
                </div>
                <!-- build:section recursive section.form-controls-two_buttons-cancel_save -->
                <!--/build -->
            </form>
            <!-- //Form -->
        </div>
    </section>
</main>
<!-- /build -->
<!-- build:section section.footer -->
<!-- /build -->
<!-- build:section recursive layout.commonfooter -->
<!-- /build -->