<!-- build:section recursive layout.commonheader-no-mobile-menu-popup -->
<!-- /build -->

<!-- build:section recursive section.header -->
<!-- /build -->

<!-- build:process -->
<main>
  <!-- build:section recursive section.dmy --><!-- /build -->
  <section class='Box'>
    <!-- build:section recursive section.box-header_change-provider --><!--/build -->

    <div class='Box_main'>
      <div class='notification with-Icon'>
        <p>Ved bytte av postkasse kan det ta opptil syv dager før offentlig post kommer i din nye postkasse. I denne perioden må du sjekke begge postkasser for ny post.</p>
        <p>Flytting av post til din nye postkasse kan du gjøre i din gamle postkasse.</p>
      </div>

      <!-- Form -->
      <form action='#'>
        <div class='fm-Fields'>
          <div class='label'>Velg digital postkasse</div>
          <div class='fm-RadioButtons with-Logo'>
            <input id='digipost' type='radio' name="provider" value="digipost"/>
            <label for='digipost'>
              <span class='logo'>
                <img src='../../images/digipost-logo.jpg' alt='' />
              </span>
              <span>
                Velg din postkasse hos Digipost
              </span>
            </label>

            <input id='eboks' type='radio' name="provider" value="eboks"/>
            <label for='eboks'>
              <span class='logo'>
                <img src='../../images/eboks-logo.jpg' alt='' />
              </span>
              <span>
                Velg din postkasse hos e-Boks
              </span>
            </label>
          </div>
          <div class='fm-form_link with-Link'>
            <a href='#'><span>Deaktivér postkasse</span></a>
          </div>

        </div>

        <!-- build:section recursive section.form-controls-two_buttons-cancel_save-disabled --><!--/build -->

      </form>
    </div>

  </section>

</main>
<!-- /build -->

<!-- build:section section.footer -->
<!-- /build -->
<!-- build:section recursive layout.commonfooter -->
<!-- /build -->
