<!-- build:section recursive layout.commonheader -->
<!-- /build -->

<!-- build:section recursive section.header-eid -->
<!-- /build -->

<!-- build:process -->
<main>
  <section class='Box'>
    <!-- build:section recursive section.box-header-contactdetails --><!--/build -->

    <div class='Box_main'>

      <!-- build:section recursive section.list-accordion-contactdetails --><!--/build -->

    </div>

    <!-- build:section recursive section.box-footer_empty --><!--/build -->
  </section>
</main>
<!-- /build -->

<!-- build:section section.footer -->
<!-- /build -->
<!-- build:section recursive layout.commonfooter -->
<!-- /build -->
