<!-- build:section recursive layout.commonheader-no-mobile-menu-popup -->
<!-- /build -->

<!-- build:section recursive section.header -->
<!-- /build -->

<!-- build:process -->
<main>
  <!-- build:section recursive section.dmy --><!-- /build -->
  <section class='Box'>
    <!-- build:section recursive section.box-header_change-provider --><!--/build -->

    <div class='Box_main'>

      <div class='Box_Section'>
        <p>Ved bytte av postkasse kan det ta opptil syv dager før offentlig post kommer i din nye postkasse. I denne perioden må du sjekke begge postkasser for ny post.</p>
        <p><strong>Du kan motta post fra det offentlige hos enten e-Boks eller Digipost</strong></p>
      </div>

      <!-- Form -->
      <form action='#'>
        <div class='fm-Fields'>

          <div class='fm-Field'>
            <div class='fm-Checkbox'>
              <input id='digipost' type='checkbox' name="provider" value="digipost"/>
              <label for='digipost'>
                <span class='fm-Checkbox_Logo'>
                  <img src='../../images/svg/digipost.svg' alt='' />
                </span>
                <span class='fm-Checkbox_Info'>
                  Du mottar i dag post fra det offentlige til din postkasse hos Digipost
                </span>
              </label>
            </div>
          </div>

          <div class='fm-Field'>
            <ul class="ln-List ln-List-simple">
              <li>
                <a href="" class="ln-List_Element">
                  <span class="ln-List_Element_Logo">
                    <img src='../../images/svg/eboks.svg' alt='' />
                  </span>
                  <div class="ln-List_Element_Service">
                    <span class="ln-List_Element_Service_Info">Du må opprette en postkasse hos e-Boks før du kan endre til denne</span>
                  </div>
                  <span class="fa fa-angle-right fa-lg"></span>
                </a>
              </li>
            </ul>
          </div>
          <div class='fm-form_link with-Link'>
            <a href='#'><span>Deaktivér postkasse</span></a>
          </div>
        </div>
        <!-- build:section recursive section.form-controls-two_buttons-cancel_save-disabled --><!--/build -->

      </form>
    </div>

  </section>

</main>
<!-- /build -->

<!-- build:section section.footer -->
<!-- /build -->
<!-- build:section recursive layout.commonfooter -->
<!-- /build -->
