<!-- build:section recursive layout.commonheader-no-mobile-menu-popup -->
<!-- /build -->

<!-- build:section recursive section.header -->
<!-- /build -->

<!-- build:process -->
<main>
  <!-- build:section recursive section.dmy --><!-- /build -->
  <section class='Box'>
    <!-- build:section recursive section.box-header_select-preferred-login --><!--/build -->

    <div class='Box_main'>


      <!-- Form -->
      <form action='#'>
        <div class='fm-Fields with-Link'>

          <div class='fm-RadioButtons'>
            <input id='letter' type='radio' name="login-preference" checked='checked' value="letter"/>
            <label for='letter'>Code from pin letter</label>
            <input id='sms' type='radio' name="login-preference" value="sms"/>
            <label for='sms' class=''>Code from SMS (93282061)</label>
          </div>

          <div class='fm-form_link with-Link'>
            <a href=''><span>Change mobile phone number</span></a>
          </div>

        </div>

        <!-- build:section recursive section.form-controls-two_buttons-cancel_save --><!--/build -->

      </form>
    </div>

  </section>

</main>
<!-- /build -->

<!-- build:section section.footer -->
<!-- /build -->
<!-- build:section recursive layout.commonfooter -->
<!-- /build -->
