<!-- build:section recursive layout.commonheader-no-mobile-menu-popup -->
<!-- /build -->

<!-- build:section recursive section.header -->
<!-- /build -->

<!-- build:process -->
<main>
  <!-- build:section recursive section.dmy --><!-- /build -->
  <section class='Box'>
    <!-- build:section recursive section.box-header_change-provider --><!--/build -->

    <div class='Box_main'>

      <div class='Box_Section'>
        <p>Ved bytte av postkasse kan det ta opptil syv dager før offentlig post kommer i din nye postkasse. I denne perioden må du sjekke begge postkasser for ny post.</p>
      </div>

      <!-- Form -->
      <form action='#'>
        <div class='fm-Fields'>

          <div class='fm-Field'>
            <div class='label'>Din aktive postkasse</div>
            <ul class="ln-List ln-List_Digitalpost">
              <li>
                <div class="ln-List_Element with-logo">
                  <span class="ln-List_Element_Logo">
                    <img src="../../images/svg/eboks.svg" alt="">
                  </span>
                  <div class="ln-List_Element_Service">
                    <span class="ln-List_Element_Service_Info">Du mottar i dag post fra det offentlige til din postkasse hos e-Boks</span>
                  </div>
                </div>
              </li>
            </ul>
          </div>

          <div class='fm-Field'>
            <div class='label'>Endre til</div>
            <ul class="ln-List ln-List-simple">
              <li>
                <a href="" class="ln-List_Element">
                  <span class="ln-List_Element_Logo">
                    <img src='../../images/svg/digipost.svg' alt='' />
                  </span>
                  <div class="ln-List_Element_Service">
                    <span class="ln-List_Element_Service_Info">Klikk her for å opprette og velge postkasse hos Digipost</span>
                  </div>
                  <span class="fa fa-angle-right fa-lg"></span>
                </a>
              </li>
            </ul>
          </div>
          <div class='fm-form_link with-Link'>
            <a href='#'><span>Deaktivér postkasse</span></a>
          </div>
        </div>
        <!-- build:section recursive section.form-controls-normal_button_only --><!--/build -->

      </form>
    </div>

  </section>

</main>
<!-- /build -->

<!-- build:section section.footer -->
<!-- /build -->
<!-- build:section recursive layout.commonfooter -->
<!-- /build -->
