<!-- build:section recursive layout.commonheader-no-mobile-menu-popup -->
<!-- /build -->
<!-- build:section recursive section.header -->
<!-- /build -->
<!-- build:process -->
<main>
    <section class='Box'>
        <!-- build:section recursive section.box-header_help -->
        <!--/build -->
        <div class='Box_main'>
            <div class='Box_Section'>
                <p>
                    Din registrerte kontaktinformasjon kan benyttes til saksbehandling i offentlig sektor. Når vedtak eller andre viktige brev sendes deg digitalt, får du varsel på SMS eller e-post om hvor du skal logge inn for å lese brevet.
                </p>
                <p>
                    Du kan også få servicemeldinger f.eks om midlertidig stengning av vann, og generell informasjon på e-post eller SMS.
                </p>
                <p>
                    SMS-koder til MinID blir sendt til ditt registrerte mobilnummer.
                </p>
                <p class="with-Link">Les mer om<a href=""><span>kommunikasjon på nett med det offentlige</span></a></p>
            </div>
            <!-- build:section recursive section.form-controls-action_button_only-close -->
            <!--/build -->
        </div>
    </section>
</main>
<!-- /build -->
<!-- build:section section.footer -->
<!-- /build -->
<!-- build:section recursive layout.commonfooter -->
<!-- /build -->