<!-- build:section recursive layout.commonheader -->
<!-- /build -->
<!-- build:section recursive section.header-no-content -->
<!-- /build -->
<!-- build:process -->
<main>
    <!-- build:section recursive section.dmy -->
    <!-- /build -->
    <section class='Box Box-noBorder'>
        <div class='Box_main'>
            <!-- Notification -->
            <div class='notification notification-error with-Link with-Icon icon-error'>
                <h1>Advarsel</h1>
                <p>Vi har registrert at det gjentatte ganger oppgis feil informasjon ved innloggingen. For å unngå at uvedkommende får tilgang til informasjon om deg, blir brukeren din sperret i 1 time fra nå. Etter en time blir brukeren din reaktivert. For å få tilgang må du <a href=''><span>lage et nytt passord</span></a>.
                </p>
                <p>Dersom du tror du ikke har de riktige PIN-kodene, kan du <a href=''><span>bestille et nytt PIN-kodebrev</span></a>.</p>
                <p>De nye PIN-kodene sendes i brev til den adressen du er registrert med i folkeregisteret.</p>
            </div>
            <!-- /Notification -->
        </div>
    </section>
</main>
<!-- /build -->
<!-- build:section section.footer -->
<!-- /build -->
<!-- build:section recursive layout.commonfooter -->
<!-- /build -->