<!-- build:section recursive layout.commonheader-no-mobile-menu-popup -->
<!-- /build -->

<!-- build:section recursive section.header -->
<!-- /build -->

<!-- build:process -->
<main>
  <!-- build:section recursive section.dmy --><!-- /build -->
  <section class='Box'>
    <!-- build:section recursive section.box-header_contact-form --><!--/build -->

    <div class='Box_main'>

      <div class='Box_Section with-Link'>
        <a class='align-right' href=''><span>Åpningstider</span></a>
        <span class='label'>Grønt nummer</span>
        <span>80 03 03 00</span>
        <span class='label'>Fra utlandet</span>
        <span>+47 24 05 56 03</span>
        <span class='label'>E-post</span>
        <span>brukerstotte@difi.no</span>
      </div>




      <!-- Form -->
      <form action='#'>

        <div class='fm-Fields'>
          <!-- build:section recursive section.form-field_your-email --><!--/build -->
          <!-- build:section recursive section.form-field_your-message --><!--/build -->
        </div>
        <div class='Box_Section'>
          <p>
            NB: Please do not send personal information numbers,
            passwords or any other sensitive information that may be misused.
          </p>
        </div>
        <!-- build:section recursive section.form-controls-two_buttons-cancel_send --><!--/build -->
      </form>
      <!-- //Form -->
    </div>
  </section>


</main>
<!-- /build -->

<!-- build:section section.footer -->
<!-- /build -->
<!-- build:section recursive layout.commonfooter -->
<!-- /build -->
