<!-- build:section recursive layout.commonheader -->
<!-- /build -->

<!-- build:section recursive section.header-no-content -->
<!-- /build -->

<!-- build:process -->
<main>
  <!-- build:section recursive section.dmy --><!-- /build -->
  <section class='Box Box-noBorder'>

    <div class='Box_main'>
      <!-- Notification -->
      <div class='notification notification-404 with-Icon'>
        <h1>Tjenesten er for tiden ikke tilgjengelig</h1>
        <h2>Bokmål</h2>
        <p>Innlogging er ikke tilgjengelig for øyeblikket. Vi beklager dette og jobber med å løse problemet. Vennligst prøv igjen senere.</p>
        <h2>English</h2>
        <p>Innlogging er ikke tilgjengelig for øyeblikket. Vi beklager dette og jobber med å løse problemet. Vennligst prøv igjen senere.</p>
        <p>Please note: The log-in system cannot be opened from a favourite/bookmarked link.</p>
      </div>
      <!-- /Notification -->
    </div>


  </section>

</main>
<!-- /build -->

<!-- build:section section.footer -->
<!-- /build -->
<!-- build:section recursive layout.commonfooter -->
<!-- /build -->
