<!-- build:section recursive layout.commonheader -->
<!-- /build -->

<!-- build:section recursive section.header-no-content -->
<!-- /build -->

<!-- build:process -->
<main>
  <!-- build:section recursive section.dmy --><!-- /build -->
  <section class='Box Box-noBorder'>


    <div class='Box_main'>
      <!-- Notification -->
      <div class='notification with-Icon'>
        <strong>An error has occurred.</strong>
        <p>We are not able to direct you to the service. Please close your browser and try again.</p>
        <p>Please note: The log-in system cannot be opened from a favourite/bookmarked link.</p>
      </div>
      <!-- /Notification -->
    </div>


  </section>

</main>
<!-- /build -->

<!-- build:section section.footer -->
<!-- /build -->
<!-- build:section recursive layout.commonfooter -->
<!-- /build -->
