$box_list-bg: $c_white;
$box_list_element-text: $c_black;
$box_list_element-hover-text: $c_white;
$box_list_element-hover-bg: $c_blue;

$box-text_link: $c_nearly_black;
$box-text_link-border: $c_blue;
$box-text_link-active: $c_grey;
$box-text_link-active_border: $c_grey;
$box-text_link-size: $t_size-normal;

$box-help-icon: #c2c3c4;
$box-border-color: #d3d3d3;;
$box-text_link-padding: 0.5em;

$box-padding: 2rem;
$box-padding-horizontal: $box-padding;
$box-padding-vertical: $box-padding / 2;

.Box {
  width: 500px;
  margin: auto;
  padding: 0;
  border: 1px solid $box-border-color;
  border-radius: 4px;
}

.Box-noBorder {
  border: none;
}

// Main box container
.Box_main {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: $c_white;

  .Box-noBorder & {
    background-color: transparent;
  }

  img {
    align-self: center;
  }
}

.Box_Section {
  background-color: $c_white;
  padding: $box-padding-vertical $box-padding-horizontal;
  display: flex;
  flex-direction: column;
  span, p {
    font-size: $t_size-normal;
    margin-left: 0.5em;
  }
  p span {
    font-size: 1em;
  }
  .label {
    margin-top: 0.5em;
  }
  .align-right {
    align-self: flex-end;
  }
}

// Common box header and footer stylings
.Box_header, .Box_footer {
  display: flex;
  justify-content: space-between;

  > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

// Box header
.Box_header {
  padding: 0 $box-padding-horizontal / 2 0 $box-padding-horizontal / 2;
  border-bottom: 1px solid $ca_list-border;
}

// Box footer
.Box_footer {
  padding: 0 $box-padding-horizontal / 2 0 $box-padding-horizontal;
  border-top: 1px solid $ca_list-border;
  min-height: 3.5em; // for empty footer
}

// Class for elements inside .Box_main but pretending to look as part of the footer
.Box_inside-footer {
  border-top: 1px solid $ca_list-border;
  background-color: transparent;
  & + .Box_footer {
    border-top-width: 0;
  }
}

// Box header title section
.Box_header-title {
  text-transform: uppercase;
  font-size: $t_size-normal;
  line-height: 1.2em;
  color: $c_nearly_black;
  font-weight: 700;
  min-height: 60px;
  &.with-logo {
    position: relative;
    padding-left: calc(0.5em + 25px);
    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 25px;
      height: 25px;
      left: 0;
      top: 1.25em;
      background: {
        repeat: no-repeat;
        size: 100%;
      }
    }
  }
  &.logo-eid-gray {
    &:before {
      @extend %logo-eid-gray;
    }
  }
}
.Box_header-provider {
  img {
    max-height: 30px;
    width: auto;
  }
}



// Footer links
.Box_footer-links {
  // Add text link styling
  @include apply-text-link($box-text_link-size, $box-text_link-padding);

  ul {
    padding-left: 0;
    list-style-type: none;
    li {
      display: inline-block;
      &:first-child {
        margin-left: calc(#{-$box-text_link-padding} + 1px);
      }
    }
  }
}

// Help icon to the right in the footer
.Box_footer-help {
  // Make icon text link
  @include apply-text-link($box-text_link-size, $box-text_link-padding);

  .fa {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: $ca_box_help_icon;
    text-decoration: none;
    width: 30px;
    height: 30px;
  }
}

.Box_header-close {
  // Make icon text link
  @include apply-text-link($box-text_link-size, $box-text_link-padding);
  a {
    span.fa {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 15px;
      color: $ca_body-text;
      text-decoration: none;
      width: 18px;
      height: 18px;
      border: 2px solid $c_grey;
      border-radius: 100%;
      padding: 2px;
      &:before {
        margin-left: 1px;
        margin-top: -1px;
      }
    }

    &:hover {
      span.fa {
        border-color: $c_blue;
      }
    }
  }
}


// Mobile adjustments
@include mobile {
  .Box {
    width: 100%;
    border: 0;
  }
  .Box_header,
  .Box_footer {
    padding: 0 0.5em;
  }
  .Box_footer-help {
    padding-right: 0;

  }
}
