.Box {
  width: 500px;
  margin: auto;
  padding: 0;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
}

.Box_header {
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
  border-bottom: 1px solid #e7e8ea;
  > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.Box_header-title {
  text-transform: uppercase;
  font-size: 14px;
  color: #222;
  font-weight: 700;
  min-height: 60px;
  &.with-image {
    position: relative;
    padding-left: calc(0.5em + 25px);
    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 25px;
      height: 25px;
      left: 0;
      background: {
        image: url('../images/svg/eid-gray.svg');
        repeat: no-repeat;
        size: 100%;
      }
    }
  }
}
.Box_header-provider {
  img {
    max-height: 30px;
    width: auto;
  }
}

.Box_main {
  
}

.Box_footer {
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
  border-top: 1px solid #e7e8ea;
  > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.Box_footer-links {
  ul {
    padding-left: 0;
    list-style-type: none;
    li {
      display: inline-block;
      margin-right: 0.5em;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  a {
    font-size: 14px;
    color: #222;
  }
}
.Box_footer-help {
  .fa {
    font-size: 20px;
    color: #c2c3c4;
  }
}

// Mobile
@include mobile {
  .Box {
    width: 100%;
  }
}
