/*
* Styles for country selector
*
* ECSS naming convention for classes is used: .[namespace][-ModuleOrComponent][_ChildNode][-variant]
* For more information: http://ecss.io
*
* Namespace: cs (countrySelector)
*/

$dropdown_bg-hover: $c_light_grey;
$dropdown_text-hover: $c_blue;


.cs-InputContainer {
  position: relative;
  //margin: 0 1rem;
}

.cs-Input {
  display: flex;
  input[type=text] {
    flex: 1;
  }
}

.cs-Button {
  position: absolute;

  font-size: 0.875em;
  background-color: transparent;
  padding: 1em;
  border: 1px solid transparent;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-top: 0.25em;
  top: 1px;
  bottom: 1px;
  height: auto;
  right: 1px;
  border-left-color: $c_light_grey3;
  &:focus {
    border: 1px solid $ca_button-bg;
  }
}
.cs-Input_Placeholder {
  width: 100%;
  display: flex;
  position: relative;
}

.cs-List {
  display: none;
  box-sizing: border-box;
  width: 100%;
  max-height: 295px;
  overflow: auto;
  list-style: none;
  border-top: 1px solid $ca_list-border;
  padding: 0;
  margin: 0 auto;
  position: absolute;
  top: 49px;
  left: 0;
  z-index: 10;



  &.open {
    display: block;
  }

  li a {
    display: block;
    box-sizing: border-box;
    height: 50px;
    margin-top: -1px;
    padding: 10px 20px;
    border: 1px solid $ca_list-border;
    text-decoration: none;
    color: $ca_body-text;
    background-color: $ca_list-bg;
    background-repeat: no-repeat;
    background-position: calc(100% - 1rem) center;

    &:hover, &:focus {
      color: $dropdown_text-hover;
      background-color: $dropdown_bg-hover
    }

    &[data-id="at"] {background-image: url('../images/flag/AT.png');}
    &[data-id="cz"] {background-image: url('../images/flag/CZ.png');}
    &[data-id="dk"] {background-image: url('../images/flag/DK.png');}
    &[data-id="ee"] {background-image: url('../images/flag/EE.png');}
    &[data-id="fr"] {background-image: url('../images/flag/FR.png');}
    &[data-id="de"] {background-image: url('../images/flag/DE.png');}
    &[data-id="gr"] {background-image: url('../images/flag/GR.png');}
    &[data-id="ie"] {background-image: url('../images/flag/IE.png');}
    &[data-id="it"] {background-image: url('../images/flag/IT.png');}
    &[data-id="lu"] {background-image: url('../images/flag/LU.png');}
    &[data-id="nl"] {background-image: url('../images/flag/NL.png');}
    &[data-id="pl"] {background-image: url('../images/flag/PL.png');}
    &[data-id="pt"] {background-image: url('../images/flag/PT.png');}
    &[data-id="ro"] {background-image: url('../images/flag/RO.png');}
    &[data-id="sk"] {background-image: url('../images/flag/SK.png');}
    &[data-id="si"] {background-image: url('../images/flag/SI.png');}
    &[data-id="es"] {background-image: url('../images/flag/ES.png');}
    &[data-id="se"] {background-image: url('../images/flag/SE.png');}
    &[data-id="tr"] {background-image: url('../images/flag/TR.png');}
  }
}
