/*
* Styles for pagre header
*
* ECSS naming convention for classes is used: .[namespace][-ModuleOrComponent][_ChildNode][-variant]
* For more information: http://ecss.io
*
* Namespace: f (footer)
*/

.f-Main {
  width: 100%;
  background-color: $ca_footer-bg;
  color: $ca_footer-text;
}

.f-Main_Content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  font-size: $ta_footer-text;
  padding: 2.3em 0.7682em 10.9em 0.7682em;
  @include mobile {
    justify-content: flex-start;
    padding-bottom: 9em;
    width: auto;
  }
}

.f-Main_Logo {
  width: 30px;
  height: 30px;
  margin: 5px 15px 0 0;
  background: url('../images/svg/eid.svg') no-repeat top right;
  @include mobile {
    width: 26px;
    height: 26px;
  }
}

.f-Main_Info {
  @include mobile {
    display: flex;
    flex-direction: column;
    line-height: 2.5em;
  }
  p {
    margin: 0 5px;
  }
  @include text-link($c_white, $c_blue, $c_white, $t_size_basis, 0.5em);
}

.f-Main_Link {
  display: inline-block;
  color: $ca_footer-text;
  text-decoration: none;
  span {
    border-bottom: 1px solid $ca_link_border;
  }
  &:hover, &:focus {
    span {
      color: $ca_footer_link-hover;
      border-color: $ca_footer_link-hover;
    }
  }
  &[href^="tel:"] {
    span {
      border-color: transparent;
    }
    &:hover, &:focus {
      span {
        border-color: $ca_footer_link-hover;
      }
    }
  }
}
