form {
  //  display: flex;
  //  flex-direction: column;
}

fieldset { // turn off default browser styles
  border: none;
  margin: 0;
  padding: 0;
}
legend {
  display: block;
  font-size: $t_size-normal;
  padding: 1rem 0;
  margin: 0 0 1rem 0;
  width: 100%;
  border-bottom: 1px solid $ca_legend-border;
  @include apply-text-link();
}
// When legend comes after label span it has to follow the same margin
.label + legend {
  margin: {
    top: $box-padding / 4;
    bottom: 0;
    left: $box-padding / 4;
    right: 0;
  }
  padding: 0;
  border-bottom: 0;
}

// Form fields placeholder
.fm-Fields {
  background-color: $c_white;
  padding: $box-padding-vertical $box-padding-horizontal;
  display: flex;
  flex-direction: column;
}

// General form field
.fm-Field {
  display: flex;
  flex-direction: column;
  margin: {
    top: $box-padding-vertical;
  }
  // First field in the form
  &:first-child {
    margin-top: 0;
  }

  // Error message inside field
  &.error {
    input {
      border-color: $c_error;
    }
    & + .fm-Message {
      color: $c_error;
      display: initial;
    }
  }

  // Child element having icon
  .with-icon {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    > * {
      // The field itself
      &:first-child {
        flex: 1;
      }
      // The icon on the right
      &:last-child {
        @include text-link($c_medium_grey3, $c_blue, $c_blue, $c_grey);
        display: flex;
        flex: 1;
        max-width: calc(45px - 1em); // The same as text field size
        width: calc(45px - 1em);
        height: calc(45px - 1em);
        justify-content: center;
        flex-direction: column;
        > .fa {
          margin: auto;
          font-size: 20px;
        }
      }
    }
  }
  .with-logo {
    align-items: center;
    > * {
      &:first-child {
        max-width: 80px;
      }
    }
  }
}

// Message box under field, mostly used for error message
.fm-Message {
  font-size: $t_size-normal;
  margin-top: -$box-padding/4;
  display: none;
}

// Form label
label, .label {
  display: flex;
  font-size: $t_size-normal;
  text-transform: uppercase;
  font-weight: 600;
  margin: {
    left: $box-padding / 4;
  }
  & + input {
    margin-top: $box-padding / 4;
    &:focus {
      margin-top: calc(#{$box-padding} / 4 - 1px);
    }
  }
}

// Form button
input, button, .btn, .text {
  display: flex;
  border-radius: 4px;
  height: 2em;
  margin: $box-padding-vertical/2  0;
  border: 0;
  font-size: $t_size-normal;
  outline: none;
}
input[type=submit], .btn {
  height: 4.5em;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: $t_size-normal;
  > span {
    border-bottom: 1px solid transparent;
    margin: auto;
  }
}


// Text form field
input[type=text], input[type=password] {
  border: 1px solid $c_light_grey3;
  padding: 8px 12px;
  &:focus {
    outline: none;
    border: {
      width: 2px;
      color: $c_blue;
    }
    margin: {
      left: -1px;
      bottom: calc(#{$box-padding} / 2 - 1px);
    }
  }
}
// Text element which is not a form field but presents text similar way
.text {
  padding: 2px 8px;
  border-bottom: 1px solid $c_light_grey3;
}


// Controls placeholder (cancel, submit etc.)
.fm-Controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
//  margin: 0 $box-padding-horizontal;
  padding: $box-padding-vertical $box-padding-horizontal / 2 $box-padding-vertical $box-padding-horizontal / 2;
  flex-wrap: wrap;
  > * {
    // width: calc(50% - #{$box-padding-horizontal} / 2);
    padding: 0 $box-padding-horizontal;
    margin: 0 $box-padding-horizontal / 2 $box-padding-vertical $box-padding-horizontal / 2;
    white-space: nowrap;
  }

  &.with-Action {
    flex-direction: column;
    align-items: flex-end;
  }
  &.with-Normal.with-Action {
    flex-direction: row;
    > * {
      flex: 1;
    }
  }

  &.with-Action-centered {
    align-items: center;
  }
}

// Normal button
.btn-Normal {
  color: $c_grey;
  background-color: $c_white;
  border: 1px solid $c_light_grey3;
  outline: none;
  &:hover {
    border-color: $c_medium_grey3;
    background-color: $c_light_grey;
  }
  &:active {
    border-color: $c_blue;
    background-color: $c_light_grey;
  }
  &:focus {
    border-color: $c_blue;
    background-color: $c_light_grey;
    > span {
      border-bottom-color: $c_blue;
    }
  }
}
// Action button
.btn-Action {
  color: $c_white;
  background-color: $ca_normal;
  &:hover {
    border-color: $ca_hover-border;
    background-color: $ca_hover;
  }
  &:active {
    border-color: $ca_active-border;
    background-color: $ca_active;
    > span {
      border-bottom-color: $ca_active_border;
    }
  }
  &:focus {
    border-color: $c_blue2;
    background-color: $ca_focus;
    > span {
      border-bottom-color: $ca_focus_border;
    }
  }
}

// Progress container
.fm-Progress_Container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
}
// Progress dots
.fm-Progress_Dot {
  width: 0.65em;
  height: 0.65em;
  border-radius: 1em;
  background-color: $c_medium_grey;
  margin: 0 0.25em;
  &.current,
  &.active {
    width: 1em;
    height: 1em;
    background-color: $c_blue;
  }
}

.fm-Password_Link {
  font-size: $t_size-normal;
  margin-top: 0.5em;
  a {
    padding: 0.5em;
  }
}


// Disabled but visible form
.disabled {
  color: $c_medium_grey3;

  // Disable buttons
  .btn {
    color: $c_medium_grey3;
    background-color: $c_light_grey;
    pointer-events: none;
    cursor: default;
  }
  a {
    color: $c_medium_grey3;
    pointer-events: none;
    cursor: default;
  }
  .with-Link a span {
    border-bottom-color: $c_medium_grey;
  }
}
