/*
* Styles for pagre header
*
* ECSS naming convention for classes is used: .[namespace][-ModuleOrComponent][_ChildNode][-variant]
* For more information: http://ecss.io
*
* Namespace: h (header)
*/

.h-Main {
  display: block;
  width: 100;
  height: 3.125em;
  color: $ca_header-text;
  background-color: $ca_header-bg;
}

.h-Main_Content {
  max-width: 900px;
}
