/*
* Styles for pagre header
*
* ECSS naming convention for classes is used: .[namespace][-ModuleOrComponent][_ChildNode][-variant]
* For more information: http://ecss.io
*
* Namespace: ln (list-normal)
*/

.ln-List {
  list-style: none;
  padding-left: 0;
  margin: 0;
  background-color: $c_white;
}

.ln-List_Element {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  font-size: $t_size-normal;
  padding: 0.7857em;
  text-decoration: none;
}

.ln-List_Element_Service {
  flex: 1;
}

.ln-List_Low-Priority {
  list-style: none;
  padding-left: 0;
  margin: 1em 1em 0 1em;
  background-color: transparent;
  border: 1px solid $ca_box_border;
  border-radius: 4px;
}
