


.notification {
  padding: 1em 1em 1.5em 1em;;
  margin: 1em 2.2857em; // Same spacing as form fields (32px)
  font-size: $t_size_normal;
  line-height: 1.5em;
  border: 2px solid $c_notification;
  border-radius: 4px;
  background-color: $c_white; // Need background color for use outside class Box (e g 404)
  &.with-Icon {
    position: relative;
    padding-left: 4em;
    &:after {
      @extend %notification;
      content: "";
      display: block;
      position: absolute;
      width: 2em;
      height: 2em;
      left: 1em;
      top: 1em;
    }
  }
  &.with-Icon.icon-pin {
    &:after {
      @extend %pincode;
      width: 2.25em;
      height: 2.25em;
    }
  }
  &.with-Icon.icon-email {
    &:after {
      @extend %email;
      width: 2.5em;
      height: 2.5em;
    }
  }
  &.with-Icon.icon-sms {
    &:after {
      @extend %sms;
      width: 2.5em;
      height: 2.5em;
    }
  }
  &.with-Icon.icon-alert {
    &:after {
      @extend %alert;
      width: 2em;
      height: 2em;
    }
  }
  &.with-Icon.icon-error {
    &:after {
      @extend %error;
      width: 2em;
      height: 2em;
    }
  }
  p:first-of-type {
    margin-top: 0;
  }
}
.fm-Fields .notification {
  margin: 0;
}



// error
.notification-error {
  border-color: $c_error;
}
