// Box on popup page
.popup {
    background-color: $ca_body_popup;

    .Box {
        box-shadow: 0 0 1px 0 rgba(34, 49, 63, .3);
    }
    .Box_header {
        background-color: $ca_body_popup_header
    } // Hide header by default
    header>* {
        display: none;
    } // Hide all in footer
    &:not(.with-footer) {

        .f-Main_Content>* {
            display: none;
        }
    }
}