<form class='countrySelector-Form' action="#">
  <fieldset>
      <legend class="countrySelector-Form_Legend">Use your National electronic ID to log in.</legend>

  		<div class='countrySelector-Form_InputContainer'>

  			<div class="countrySelector-Form_Input" id="js-country">
          <label for="country" class="visuallyHidden">Enter or select country</label>
          <input type="text" id="country" placeholder="Enter country name" autocomplete="off" aria-haspopup="true">
          <input type="hidden" name="countrycode" value="" />
          <button class="countrySelector-Form_Button fa fa-angle-down" id="js-trigger"></button>
        </div>

        <span class="error">Please select a country from the list</span>

  			<ul role="listbox" class="countrySelector-Form_List" id="js-country-list">
  				<li role="option"><a data-id="at" href="">Austria</a></li>
  				<li role="option"><a data-id="cz" href="">Czech Republic</a></li>
  				<li role="option"><a data-id="dk" href="">Denmark</a></li>
  				<li role="option"><a data-id="ee" href="">Estonia</a></li>
  				<li role="option"><a data-id="fr" href="">France</a></li>
  				<li role="option"><a data-id="de" href="">Germany</a></li>
  				<li role="option"><a data-id="gr" href="">Greece</a></li>
  				<li role="option"><a data-id="ie" href="">Ireland</a></li>
  				<li role="option"><a data-id="it" href="">Italy</a></li>
  				<li role="option"><a data-id="lu" href="">Luxembourg</a></li>
  				<li role="option"><a data-id="nl" href="">Netherlands</a></li>
  				<li role="option"><a data-id="pl" href="">Poland</a></li>
  				<li role="option"><a data-id="pt" href="">Portugal</a></li>
  				<li role="option"><a data-id="ro" href="">Romania</a></li>
  				<li role="option"><a data-id="sk" href="">Slovakia</a></li>
  				<li role="option"><a data-id="si" href="">Slovenia</a></li>
  				<li role="option"><a data-id="es" href="">Spain</a></li>
  				<li role="option"><a data-id="se" href="">Sweden</a></li>
  				<li role="option"><a data-id="tr" href="">Turkey</a></li>
  			</ul>
  		</div>

  </fieldset>

  <div class='fm-Controls'>
    <button class='btn btn-Normal'><span>Cancel</span></button>
    <button class='btn btn-Action' type='submit'><span>Next</span></button>
  </div>

</form>
