<div class='fm-Fields'>
    <div class='notification with-Icon with-Link' id="webauthn-info">
        Har du en smartenhet som enten bruker touch-ID eller annsiktsgjennkjenning kan du bruke den som alternativ innloggingsmetode for MinID.
        <br>
        <br>
        <a href=''><span>Les om alternativ innlogging</span></a>
    </div>
</div>
<p class="notification with-Icon with-Link" id="add-webauthn-message" class="fm-Message-warning add-device" style="display: none"></p>
<div id="webauthn-add-device-box" class='Box_main Box_inside-footer' onclick="showControls()">
    <ul class='ln-List ln-List-lowPriority'>
        <li>
            <a href="" id="register-device" class='ln-List_Element'>
                                <span class='ln-List_Element_Logo'>
                                    <img src='../img/key.png' alt='' />
                                </span>
                <div class='ln-List_Element_Service' id="webAuthn">
                    <span class='ln-List_Element_Service_Name'>Smartenhet</span>
                    <span class='ln-List_Element_Service_Info'>Trykk for å registrere din smartenhet</span>
                </div>
            </a>
        </li>
    </ul>
</div>