<!-- When fm-Field gets class .error then input and span.message change their look and present the error message -->
<div class='fm-Field'>
  <label for='password'>Create Password</label>
  <input id='password' type='password' placeholder='Create password' />
</div>
<span class='fm-Message'>Please enter a password</span>
<div class='fm-Field'>
  <label for='password'>Re-enter password</label>
  <input id='password' type='password' placeholder='Re-eneter password' />
</div>
<span class='fm-Message'>Passwords does not match</span>
