
<!-- When fm-Field gets class .error then input and span.message change their look and present the error message -->
<div class='fm-Field'>
  <label for='mobile'>E-mail</label>
  <input id='mobile' type='text' placeholder='E-mail' />
</div>
<span class='fm-Message'>Please fill in your email address</span>
<div class='fm-Field'>
  <label for='mobile'>Repeat E-mail</label>
  <input id='mobile' type='text' placeholder='Repeat e-mail' />
</div>
<span class='fm-Message'>The e-mail addresses do not match</span>
