<div class='fm-Fields'>
    <div class='notification with-Icon with-Link' id="webauthn-info">
        Har du en smartenhet som enten bruker touch-ID eller annsiktsgjennkjenning kan du bruke den som alternativ innloggingsmetode for MinID.
        <br>
        <br>
        <a href=''><span>Les om alternativ innlogging</span></a>
    </div>
</div>
<p class="notification with-Icon with-Link" id="add-webauthn-message" class="fm-Message-warning add-device" style="display: none"></p>
<div id="webauthn-added-device" style="display: none">
    <ul class="ln-List" id="devices">
        <li id="device"></li>
    </ul>
    <div class='fm-Fields'>
        <div class='fm-Field'>
            <div class='label'>Din aktive smartenhet</div>
            <ul class="ln-List ln-List_Digitalpost">
                <li>
                    <div class="ln-List_Element with-logo" href="#">
                                            <span class="ln-List_Element_Logo">
                    <img src="../img/key.png" alt="">
                  </span>
                        <div class="ln-List_Element_Service">
                            <span class="ln-List_Element_Service_Info"><strong>Yubikey</strong>, registrert 17.07.18</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class='fm-form_link with-Link'>
            <a href=''><span>Deaktivér smartenhet</span></a>
        </div>
    </div>
</div>