<!-- SECTION: HEADER -->

<header class='h-Main'>

  <div class='h-Main_Content'>
    <a href="" class="h_Main_Content_Link"><span class="fa fa-angle-left fa-lg" aria-hidden="true"></span>Tilbake</a>

    <button class='h-Menu_Trigger-mobile'><span class="fa fa-bars"></span></button>
    <div class='h-Menu_Container'>
      <nav class='h-Menu'>
        <button class='h-Menu_Trigger'>Kontaktdetaljer<span class='fa fa-angle-down fa-lg' aria-hidden="true"></span></button>
        <ul>
          <li><a href="" class="h-Main_Menu_Element">Endre</a></li>
        </ul>
      </nav>
      <div class='h-Menu h-Menu-open'>
        <button class='h-Menu_Trigger'>Språk<span class='fa fa-angle-down fa-lg' aria-hidden="true"></span></button>
        <ul>
          <li><a href="" class="h-Main_Menu_Element">Bokmål</a></li>
          <li><a href="" class="h-Main_Menu_Element">Nynorsk</a></li>
          <li><a href="" class="h-Main_Menu_Element">Engelsk</a></li>
          <li><a href="" class="h-Main_Menu_Element">Sámigiella</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>

<!-- /SECTION: HEADER -->
