<!-- SECTION: HEADER -->

<header class='h-Main'>

  <div class='h-Main_Content'>
    <a href="" class="h_Main_Content_Link h_Main_Content_Link-keepOnMobile"><span class="fa fa-angle-left fa-lg" aria-hidden="true"></span><span>Tilbake</span></a>

    <!-- NOTE: placholder class must be present, even if it has no content -->
    <div class="h-Main_Content_Placeholder">
      <span class='h-Main_Username'>Rolf Ingar Kristoffer Nystumoen Nilsen</span>
    </div>

    <a href='' role='button' class='h-Menu_Trigger-mobile'><span class="fa fa-bars"></span></a>
    <div class='h-Menu_Container' id='js-menues'>
      <span class='h-Main_Username'>Rolf Ingar Kristoffer Nystumoen Nilsen</span>
      <nav class='h-Menu h-Menu-preOpened'>
        <a href='' role='button' aria-haspopup="true" aria-expanded="false" class='h-Menu_Trigger'><span>Språk</span><span class='fa fa-angle-down fa-lg' aria-hidden="true"></span></a>
        <ul>
          <li><a href="" class="h-Main_Menu_Element"><span>Bokmål</span></a></li>
          <li><a href="" class="h-Main_Menu_Element"><span>Nynorsk</span></a></li>
          <li><a href="" class="h-Main_Menu_Element"><span>Engelsk</span></a></li>
          <li><a href="" class="h-Main_Menu_Element js-last"><span>Sámigiella</span></a></li>
        </ul>
      </nav>

    </div>

  </div>
</header>

<!-- /SECTION: HEADER -->
