
<ul class='la-List'>
  <li>
    <div role='heading'>
      <a role='button' aria-expanded="false" aria-controls="content-1" id="alternative-1" href='' class='la-List_Element preload'>Austria<span class='fa fa-angle-down'></span></a>
    </div>

    <ul role="region" aria-labelledby="alternative-1" id="content-1" class='ln-List la-List_Region'>
      <li>
        <a href="" class='ln-List_Element'>
          <span class='ln-List_Element_Logo'>
            <img src='../../images/minid.jpeg' alt='' />
          </span>
          <div class='ln-List_Element_Service'>
            <span class='ln-List_Element_Service_Name'>Minid</span>
            <span class='ln-List_Element_Service_Info'>Uses code from sms or PIN code letter</span>
          </div>
          <span class='fa fa-angle-right fa-lg'></span>
        </a>
      </li>
      <li>
        <a href="" class='ln-List_Element'>
          <span class='ln-List_Element_Logo'>
            <img src='../../images/bankid.jpeg' alt='' />
          </span>
          <div class='ln-List_Element_Service'>
            <span class='ln-List_Element_Service_Name'>Bankid</span>
            <span class='ln-List_Element_Service_Info'>With codes or mobile application</span>
          </div>
          <span class='fa fa-angle-right fa-lg'></span>
        </a>
      </li>
    </ul>

  </li>
  <li>
    <div role='heading'>
      <a role='button' aria-expanded="false" aria-controls="content-2" id="alternative-2" href='' class='la-List_Element preload'>Belgium<span class='fa fa-angle-down'></span></a>
    </div>

    <ul role="region" aria-labelledby="alternative-2" id="content-2" class='ln-List la-List_Region'>
      <li>
        <a href="" class='ln-List_Element'>
          <span class='ln-List_Element_Logo'>
            <img src='../../images/minid.jpeg' alt='' />
          </span>
          <div class='ln-List_Element_Service'>
            <span class='ln-List_Element_Service_Name'>Minid</span>
            <span class='ln-List_Element_Service_Info'>Uses code from sms or PIN code letter</span>
          </div>
          <span class='fa fa-angle-right fa-lg'></span>
        </a>
      </li>
    </ul>
  </li>
</ul>
