<ul class='ln-List-simple'>
    <li>
        <a href="" class='ln-List_Element'>
            <div class='ln-List_Element_Service'>
                <span class='ln-List_Element_Service_Name'>I have PIN codes</span>
                <span class='ln-List_Element_Service_Info'>Complete registration with PIN code letter</span>
            </div>
            <span class='fa fa-angle-right fa-lg'></span>
        </a>
    </li>
    <li>
        <a href="" class='ln-List_Element'>
            <div class='ln-List_Element_Service'>
                <span class='ln-List_Element_Service_Name'>I don´t have PIN codes</span>
                <span class='ln-List_Element_Service_Info'>Order PIN code letter</span>
            </div>
            <span class='fa fa-angle-right fa-lg'></span>
        </a>
    </li>
</ul>