<ul class='ln-List'>
  <li>
    <a href="" class='ln-List_Element'>
      <span class='ln-List_Element_Logo'>
        <img src='../../images/svg/logoer/Minid.svg' alt='' />
      </span>
      <div class='ln-List_Element_Service'>
        <span class='ln-List_Element_Service_Name'>Minid</span>
        <span class='ln-List_Element_Service_Info'>Uses code from sms or PIN code letter</span>
      </div>
      <span class='fa fa-angle-right fa-lg'></span>
    </a>
  </li>
  <li>
    <a href="" class='ln-List_Element'>
      <span class='ln-List_Element_Logo'>
        <img src='../../images/svg/logoer/Bankid.svg' alt='' />
      </span>
      <div class='ln-List_Element_Service'>
        <span class='ln-List_Element_Service_Name'>Bankid</span>
        <span class='ln-List_Element_Service_Info'>With codes or mobile application</span>
      </div>
      <span class='fa fa-angle-right fa-lg'></span>
    </a>
  </li>
</ul>
