
<ul class='la-List'>
  <li>
    <div role='heading'>
      <a role='button' aria-expanded="false" aria-controls="content-1" id="alternative-1" href='' class='la-List_Element'>Dine kontaktdetaljer<span class='fa fa-angle-down'></span></a>
    </div>

    <div role="region" aria-labelledby="alternative-1" id="content-1" class="la-List_Region">
      tekst og skjema
    </div>

  </li>
  <li>
    <div role='heading'>
      <a role='button' aria-expanded="false" aria-controls="content-2" id="alternative-2" href='' class='la-List_Element'>Din digitale postkasse<span class='fa fa-angle-down'></span></a>
    </div>
    <div role="region" aria-labelledby="alternative-2" id="content-2" class="la-List_Region">
      tekst og liste lowPriority, og ?
    </div>
  </li>
  <li>
    <div role='heading'>
      <a role='button' aria-expanded="false" aria-controls="content-3" id="alternative-3" href='' class='la-List_Element'>Digital kommunikasjon<span class='fa fa-angle-down'></span></a>
    </div>
    <div role="region" aria-labelledby="alternative-3" id="content-3" class="la-List_Region">
      tekst og knapp og ?
    </div>
  </li>
</ul>
