<ul class='ln-List'>
    <li>
        <a href="#" class='ln-List_Element disabled'>
      <span class='ln-List_Element_Logo'>
        <img src='../../images/minid-disabled.png' alt='' />
      </span>
      <div class='ln-List_Element_Service'>
        <span class='ln-List_Element_Service_Name'>Minid</span>
        <span class='ln-List_Element_Service_Info'>Tjenesten krever høyerer sikkerhet enn det MinID gir</span>
      </div>
      <span class='fa fa-angle-right fa-lg'></span>
    </a>
    </li>
    <li>
        <a href="" class='ln-List_Element'>
      <span class='ln-List_Element_Logo'>
        <img src='../../images/bankid.jpeg' alt='' />
      </span>
      <div class='ln-List_Element_Service'>
        <span class='ln-List_Element_Service_Name'>Bankid</span>
        <span class='ln-List_Element_Service_Info'>With codes or mobile application</span>
      </div>
      <span class='fa fa-angle-right fa-lg'></span>
    </a>
    </li>
    <li>
        <a href="" class='ln-List_Element'>
      <span class='ln-List_Element_Logo'>
        <img src='../../images/bankid.jpeg' alt='' />
      </span>
      <div class='ln-List_Element_Service'>
        <span class='ln-List_Element_Service_Name'>AnnenId</span>
        <span class='ln-List_Element_Service_Info'>With codes or mobile application</span>
      </div>
      <span class='fa fa-angle-right fa-lg'></span>
    </a>
    </li>
</ul>