
<ul class='la-List'>
  <li>
    <div role='heading'>
      <!-- NOTE: Add class js-initially-open if panel should open when page opens -->
      <a role='button' aria-expanded="false" aria-controls="content-1" id="alternative-1" href='' class='la-List_Element js-initially-open'>Dine kontaktdetaljer<span class='fa fa-angle-down'></span></a>
    </div>

    <div role="region" aria-labelledby="alternative-1" id="content-1" class="la-List_Region">
      <div class="fm-Fields">
        <p class="ingress with-Link">
          The information below is registrered in a common contact registrer
          that will be used by public athorities getting in contact with you.
          <a href=''><span>Read more</span></a>
        </p>

        <!-- build:section recursive section.form-field_mobile-with_edit --><!--/build -->
        <!-- build:section recursive section.form-field_email-with_edit --><!--/build -->
      </div>
      <!-- build:section recursive section.box-body_help-icon --><!--/build -->
    </div>

  </li>
  <li>
    <div role='heading'>
      <a role='button' aria-expanded="false" aria-controls="content-2" id="alternative-2" href='' class='la-List_Element'>Din digitale postkasse<span class='fa fa-angle-down'></span></a>
    </div>
    <div role="region" aria-labelledby="alternative-2" id="content-2" class="la-List_Region">
      <div class="fm-Fields">
        <p class="ingress with-Link">
          With a digital postbox at e-Boks or Digipost, you can recieve post
          from the public sector delivered digitaly instead of on paper.
          The mailbox must first be created at the provider before you can take it into use.
          <a href=''><span>Read more</span></a>
        </p>
        <!-- build:section recursive section.form-button_digital_postbox-with_edit --><!--/build -->
      </div>
      <!-- build:section recursive section.box-body_help-icon --><!--/build -->
    </div>
  </li>
  <li>
    <div role='heading'>
      <a role='button' aria-expanded="false" aria-controls="content-3" id="alternative-3" href='' class='la-List_Element'>Digital kommunikasjon<span class='fa fa-angle-down'></span></a>
    </div>
    <div role="region" aria-labelledby="alternative-3" id="content-3" class="la-List_Region">
      <form action='#'>
        <div class="fm-Fields">
          <p class="ingress with-Link">
            If you decide to opt out of online communication, you will recieve letters
            and formal decisionsfrom public autorithies in paper format.
            The public services may still send you other information by e-mail, sms or digital letters.
            <a href=''><span>Read more</span></a>
          </p>
        </div>
        <!-- build:section recursive section.form-controls-action_button_only-optout --><!--/build -->
      </form>
      <!-- build:section recursive section.box-body_help-icon --><!--/build -->
    </div>
  </li>
</ul>
