@-webkit-keyframes turnup {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(-180deg);
	}
}

@keyframes turnup {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(-180deg);
	}
}

@-webkit-keyframes turndown {
	0% {
    transform: rotate(-180deg);
	}
	100% {
    transform: rotate(0);
	}
}

@keyframes turndown {
	0% {
    transform: rotate(-180deg);
	}
	100% {
    transform: rotate(0);
	}
}

//
// @keyframes grow {
// 	0% {
// 		height: 0;
// 	}
// 	100% {
// 		height: auto;
// 	}
// }
