/*
* Color definitions
*/

$c_white: #ffffff;
$c_light_grey: #f7f8fa;
$c_grey: #5e6b77;
$c_dark_grey: #253343;
$c_blue: #006cff;
$c_dark_blue: #0867eb;
$c_nearly_black: #222222;
$c_black: #000000;



/*
* Applied colors, prefixed by ca_
*/
$ca_body-bg: $c_light_grey;
$ca_body-text: $c_nearly_black;

$ca_header-bg: $c_dark_grey;
$ca_header-text: $c_white;
$ca_header_link-hover: $c_blue;

$ca_footer-bg: $c_dark_grey;
$ca_footer-text: $c_white;
$ca_footer_link-hover: $c_blue;

$ca_button-bg: $c_blue;
$ca_button-text: $c_white;
$ca_button_hover-bg: $c_dark_blue;

$ca_button-cancel-bg: $c_white;
$ca_button-cancel-text: $c_grey;
$ca_button-cancel-hover-bg: transparent;
$ca_button-cancel-hover-text: $c_black;

$ca_link_border: $c_blue;

$ca_menu_element-bg: $c_blue;
$ca_menu_element-border-hover: $c_white;
$ca_menu_element_text: $c_white;

$ca_box_help_icon: #c2c3c4;
$ca_box_border: #d3d3d3;
