/*
* Color definitions
*/

$c_white: #ffffff;
$c_light_grey: #f7f8fa;
$c_light_grey2: #e6ebf0;
$c_light_grey3: #e7e8ea;
$c_medium_grey: #c8c8c8;
$c_medium_grey2: #d2d2d2;
$c_medium_grey2a: #b3b3b3;
$c_medium_grey3: #9fa9b4;
$c_grey: #5e6b77;
$c_dark_grey: #253343;
$c_blue: #006cff;
$c_blue2: #0060ee;
$c_dark_blue: #134f9e;
$c_nearly_black: #222222;
$c_black: #000000;
$c_notification: #ffc922;
$c_error: #ff0000;



/*
* Applied colors, prefixed by ca_
*/

$ca_body_popup: #c0c7ca;
$ca_body_popup_header: #f7f8fa;
$ca_body-bg: $c_light_grey;
$ca_body-text: $c_nearly_black;

$ca_header-bg: $c_dark_grey;
$ca_header-text: $c_white;
$ca_header_link-hover: $c_blue;

$ca_footer-bg: $c_dark_grey;
$ca_footer-text: $c_white;
$ca_footer_link-hover: $c_medium_grey;

$ca_button-bg: $c_blue;
$ca_button-text: $c_white;
$ca_button_hover-bg: $c_dark_blue;
$ca_button_disabled-text: $c_medium_grey3;
$ca_button_disabled-bg: $c_light_grey;

$ca_button-cancel-bg: $c_white;
$ca_button-cancel-text: $c_grey;
$ca_button-cancel-hover-bg: transparent;
$ca_button-cancel-hover-text: $c_black;

$ca_link_border: $c_blue;

$ca_menu_element-bg: $c_blue;
$ca_menu_element-border-hover: $c_white;
$ca_menu_element_text: $c_white;

$ca_box_help_icon: #c2c3c4;
$ca_box_border: #d3d3d3;
$ca_box-serviceprovider: $c_grey;

$ca_list-bg: $c_white;
$ca_list_element-text: $c_black;
$ca_list_element-hover-text: $c_white;
$ca_list_element-hover-bg: $c_blue;
$ca_list-border: $c_light_grey2;
$ca_list_element_disabled-text: $c_medium-grey2a;
$ca_list_element_disabled-bg: $c_light_grey;
$ca_list_grey_element-hover-bg: $c_light_grey;

$ca_legend-border: $c_medium_grey2;

$ca_radiobutton-border: $c_medium_grey2;

$ca_normal: $c_blue;
$ca_normal-border: $c_white;
$ca_hover: $c_dark_blue;
$ca_hover-border: $c_medium_grey3;
$ca_focus: $c_dark_blue;
$ca_focus-border: $c_white;
$ca_active: $c_dark_blue;
$ca_active-border: $c_white;