/*
* Common style and resets
*/

html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  background-color: $ca_body-bg;
  color: $ca_body-text;
  font-family: $t_fontfamily;
  line-height: 1.5em;
  letter-spacing: 0.1px;
}

// Box on popup page
.popup {
  background-color: $ca_body_popup;
  main {
    display: flex;
  }
  .Box {
    box-shadow: 0 0 1px 0 rgba(34, 49, 63, .3);
  }
  .Box_header {
    background-color: $ca_body_popup_header
  }
}

main {
  //display: flex;
  flex: 1;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-height: calc(100vh - 270px); // 270px =  footer height + header height
  margin: {
    top: 3em;
    bottom: 3em;
  }
  @include mobile {
    min-height: calc(100vh - 357px);  // footer has more height on mobile
  }
}

hr {
  border: 0;
  border-bottom: 1px solid $ca_box_border;
  width: 100%;
}

h1 {
  font-size: $t_size-normal;
  margin: 0;
}

h2 {
  font-size: $t_size-basis;
  margin: 20px 0 5px 0;
}

p {
  font-size: $t_size-normal;
  line-height: 1.4em;
  margin: 0;
}

button {
  font-family: $t_fontfamily;
  border: none;
  box-shadow: none;
}

iframe {
  margin: 1em;
  border: 0;
  width: 100%;
}

// Mobile view
@include mobile {
  main {
    display: block;
    margin-top: 0;
  }
}

.visuallyHidden { // used for labels etc visible only to screen readers and support tools
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.with-Link {
  @include apply-text-link();
}
