/*
* Common style and resets
*/

html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  background-color: $ca_body-bg;
  color: $ca_body-text;
  font-family: $t_fontfamily;
  line-height: 1.5em;
  letter-spacing: 0.1px;
}

main {
  //display: flex;
  flex: 1;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-height: calc(100vh - 270px); // 270px =  footer height + header height
  margin: {
    top: 3em;
    bottom: 3em;
  }
  @include mobile {
    min-height: calc(100vh - 357px);  // footer has more height on mobile
  }
}

button {
  font-family: $t_fontfamily;
  border: none;
  box-shadow: none;
}

iframe {
  margin: 1em;
  border: 0;
  width: 100%;
}

@mixin text-link($linkColor: $c_nearly_black, $borderColor: $c_blue, $activeLinkColor: $c_blue, $activeBorderColor: $c_grey, $fontSize: $t_size-normal, $padding: 0.5em) {
  color: $linkColor;
  text-decoration: none;
  position: relative;
  padding: $padding;
  font-size: $fontSize;
  &:hover,
  &:active {
    color: $activeLinkColor;
    span {
      border-bottom-color: $activeLinkColor;
      &.fa {
        color: $linkColor;
      }
    }
  }
  &:focus {
    color: $activeLinkColor;
    outline: 1px solid $activeBorderColor;
    border-bottom-color: transparent;
    text-decoration: none;
    span {
      border-bottom-color: transparent;
      &.fa {
        color: $linkColor;
      }
    }
  }
  span {
    border-bottom: 1px solid $borderColor;
    &.fa {
      border-bottom-color: transparent;
    }
  }
}



// Mobile view
@include mobile {
  main {
    display: block;
    margin-top: 0;
  }
}

.visuallyHidden { // used for labels etc visible only to screen readers and support tools
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
