/*
* definition of font and sizes
*/


$t_fontfamily: 'Open Sans', sans-serif;

$t_size-basis: 1em; // 16px
$t_size-normal: (14 / 16) * 1em; // 14px
$t_size-small: (13 / 16) * 1em; // 13px

$t_weight-normal: 400;
$t_weight-bold: 600;
$t_weight_bolder: 700;

$ta_header-text: $t_size-normal; // 14px
$ta_footer-text: $t_size-small; // 13px
