/*
* definition of font and sizes
*/


$t_fontfamily: 'Open Sans', sans-serif;

$t_size-basis: 1em;
$t_size-normal: 0.875em;
$t_size-small: 0.8125em;

$t_weight-bold: 600;
$t_weight_bolder: 700;

$ta_header-text: $t_size-normal;
$ta_footer-text: $t_size-small;
